# Database Configuration
#DATABASE_URL=postgresql://helpdesk:helpdesk123@localhost:5432/ecommerce_db
DATABASE_URL=postgresql://neondb_owner:npg_C1YiSqKlwxH9@ep-gentle-dust-a4f06zjv-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# JWT Secret (Change in production!)
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production

# Server Configuration
PORT=3000
NODE_ENV=development

# Frontend URL
REACT_APP_API_URL=http://localhost:3000/api
